.img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto !important;
}


.object-item .name{
    font-size: 18px;
    font-weight: 300;
}

.avatar-image-uploader {
    max-width: 450px;
}

.object-modal-link {
    background: none;
    border: 0;
}