body {
    background: #ffffff;
}

.icon {
    color: #6449e7;
}

.img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto !important;
}


.object-item .name{
    font-size: 18px;
    font-weight: 300;
}

.avatar-image-uploader {
    max-width: 450px;
}

.object-modal-link {
    background: none;
    border: 0;
}

.agent-top {
    height: 450px;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.agent-top h1 {
    position: relative;
    z-index: 2;
    color: #ffffff;
}

.agent-top:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
}

.agent-info {
    margin-top: -80px;
    background: #ffffff;
    position: relative;
    z-index: 3;
    box-shadow: 0 21px 15px -11px rgba(221, 221, 221, 0.35);
}


.agent-info .contact-form,
.agent-info .details {
    padding: 30px;
}

.agent-info .contact-form {
    background: #f7f7f7;
}

.single-object {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    background: #ffffff;
}

.single-object .img-holder {
    height: 225px;
    overflow: hidden;
    display: block;
    position: relative;
}

.single-object .img-holder:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.25);
}

.single-object .img-holder img {
    transition: 3s;
}

.single-object .img-holder:hover img {
    transform: scale(1.2);
}

.single-object img {
    min-height: 100%;
}

.single-object a{
    color: #222222;
    text-decoration: none;
}

.single-object a:hover {
    opacity: .9;
}

.single-object h3 {
    font-size: 20px;
}

.single-object .content {
    padding: 15px;
}

.single-object .price{
    color: #6449e7;
    font-size: 18px;
}
.single-object .location {
    color: #777777;
}

.single-object .location .icon {
    color: #6449e7;
}

.single-object .features b {
    color: #aaa;
    font-weight: 400;
}

.single-object .features b + span {
    color: #777;
}

.btn-primary {
    background: #6449e7 !important;
    border: 1px solid #6449e7 !important;
}

.form-control:focus,
.btn:focus {
    border: 1px solid #6449e780 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
    background: #5b43d0 !important;
}

.object-top {
    height: 600px;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.object-top h1 {
    position: relative;
    z-index: 2;
    color: #ffffff;
}

.object-top:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
}

.object-top .address {
    font-size: 18px;
    color: #ffffff;
    z-index: 2;
    position: relative;
}

.object-top .price {
    color: #ffffff;
    font-size: 26px;
    padding-top: 6px;
}

.object-top .right-content {
    max-width: 320px;
    background: rgba(255,255,255,.7);
    padding: 25px;
}

.object-top .right-content .agent a {
    color: #222222;
    text-decoration: none;
}

.object-top .right-content .agent a:hover {
    opacity: .9;
}

.object-top .right-content .agent img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.carousel-image {
    height: 450px;
    max-width: 100%;
}



.obgect-page h2 {
    font-size: 20px;
    color: #696969;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}

.obgect-page .object-details {
    background: #f2f2f2;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.obgect-page .object-details h3 {
    font-size: 20px;

}

.object-details-content p{
    font-size: 40px;
    color: #6449e7;
}

.toggle-content {
    position: relative;
}

.toggle-item {
    transition: all 1s ease-out;
    opacity: 0;
}

.toggle-item + .toggle-item {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
}

.toggle-item.active {
    opacity: 1;
    pointer-events: auto;
}

.toggle-view {
    opacity: 0;
    transition-delay: 1s;
    transition: all 2s ease-out;
}

.toggle-item.active .toggle-view {
    opacity: 1;
}

.embed-toggler {
    opacity: .7;
    cursor: pointer;
}

.embed-toggler.active {
    opacity: 1;
}

.contact-section {
    background: #f2f2f2;
}

.contact-form .btn-primary {
    width: 100%;
}